PORT="your port no"
DB_HOST="your db host"
DB_NAME="your db name"
DB_PASSWORD="your db password"
DB_PORT="your db port"
DB_USER="your db user"
jwt_secret="your jwt secret"
saltround="your default salt round for bcrypt"
smsapi="your fast2sms api key"
bucket_name="your bucket name on google cloud platform"
project_id="your project id on google cloud platform"
key_file_name="name of your key file downloaded from google cloud platform"
server_auth_token="your server auth token"